# Combining Data on Grades

In [ ]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

### Given: Three Numpy Arrays of Grades

In [ ]:
np.random.seed(1)
ar1 = np.random.choice(['A','B','C','D','F'], 100, p=[.2,.4,.3,.08,.02])
ar2 = np.random.choice(['A','B','C','D','F'], 50, p=[.3,.4,.2,.1,0])
ar3 = np.random.choice(['a','b','c','d','f'], 200, p=[.15,.45,.25,.13,.02])

### Create pandas Series from these Arrays
Use the default index for each. Save the series as `s1`, `s2` and `s3`

In [ ]:
s1 = pd.Series(ar1)
s2 = pd.Series(ar2)
s3 = pd.Series(ar3)

### Get the Value Counts of each of the Series
Save the resulting series as `grades1`, `grades2`, and `grades3`

In [ ]:
grades1 = s1.value_counts()
grades2 = s2.value_counts()
grades3 = s3.value_counts()
grades3

### Compare the indexes of the three `grades` variables 
You should see that the index for `grades3` uses lowercase letters, while the other two use uppercase letters.

In [ ]:
grades1.index, grades2.index, grades3.index

### Reindex `grades3` to use uppercase letters
This is a little tricky because the index for `grades3` is not in alphabetical order. You will need to sort it on its index first.

In [ ]:
grades3 = grades3.sort_index()
grades3.index = ['A','B','C','D','F']
grades3.index

### Add the three `grades` Series together
Don't forget to set the fill value to 0.

In [ ]:
grades_all = grades1.add(grades2, fill_value=0).add(grades3, fill_value=0)
grades_all

### From `grades_all`, create a `grades_breakout` Series that holdes the share of each grade.
`grades_breakout.sum()` should equal 1

In [ ]:
grades_breakout = grades_all / grades_all.sum()
grades_breakout, grades_breakout.sum()

## A different approach: First, change case of values of `s3`.

In [ ]:
s3 = s3.str.upper()
s3

### Then combine the Series of grades.

In [ ]:
s_all = pd.concat([s1,s2,s3])
s_all

### Then get the value counts of the combined series and get `grades_breakout`.

In [ ]:
grades_all = s_all.value_counts()
grades_breakout = grades_all / grades_all.sum()
grades_breakout.sort_index(), grades_breakout.sum()