## MySQL for Python

In [ ]:
# may need to install via conda install mysql-connector-python
import mysql.connector

connection = mysql.connector.connect(host='MySQLC11.newtekwebhosting.com',
                              user='student',
                              password='webuc8',
                              database='baseball')

query = '''SELECT nameFirst, nameLast, weight, year(debut)
FROM Master
ORDER BY weight DESC
LIMIT 5'''

cursor = connection.cursor() #pass dictionary=True to return records as dicts
cursor.execute(query)
results = cursor.fetchall()
cursor.close()
connection.close()

results

## PyMySQL

In [ ]:
# may need to install via conda install pymysql
import pymysql
connection = pymysql.connect(host='MySQLC11.newtekwebhosting.com',
                             user='student',
                             password='webuc8',
                             database='baseball'
                            )
                        #cursorclass=pymysql.cursors.DictCursor
query = '''SELECT nameFirst, nameLast, weight, year(debut)
FROM Master
ORDER BY weight DESC
LIMIT 5'''
    
with connection.cursor() as cursor:
    cursor.execute(query)
    results = cursor.fetchall()
connection.close()

results

## sqlite3

In [ ]:
import sqlite3
connection = sqlite3.connect('../lahman2014.sqlite')

query = '''SELECT nameFirst, nameLast, weight, strftime('%Y', debut / 1000, 'unixepoch')
FROM master
ORDER BY weight DESC
LIMIT 5'''

cursor = connection.cursor()
cursor.execute(query)
results = cursor.fetchall()
cursor.close()
connection.close()

results

## Passing Parameters

In [ ]:
import sqlite3
connection = sqlite3.connect('../lahman2014.sqlite')

query = '''SELECT yearID, HR
FROM batting
WHERE playerID IN (SELECT playerID
                    FROM master
                    WHERE nameFirst = ? AND nameLast = ?)
ORDER BY yearID'''

cursor = connection.cursor()
player = ( 'Babe', 'Ruth' )
cursor.execute(query, player)
results = cursor.fetchall()
cursor.close()
connection.close()

results

## In-Memory SQLite Tables

In [ ]:
import sqlite3
connection = sqlite3.connect(':memory:')
cursor = connection.cursor()

create = '''CREATE TABLE beatles (
'fname' text,
'lname' text,
'nickname' text
)'''

cursor.execute(create)

members = [
    ('John', 'Lennon', 'The Smart One'),
    ('Paul', 'McCartney', 'The Cute One'),
    ('George', 'Harrison', 'The Funny One'),
    ('Ringo', 'Starr', 'The Quiet One')
]

for member in members:
    cursor.execute("INSERT INTO beatles VALUES" + str(member))

select = 'SELECT * FROM beatles'
cursor.execute(select)

results = cursor.fetchall()
cursor.close()
connection.close()

results

## Executing Multiple Queries at Once

In [ ]:
import sqlite3
connection = sqlite3.connect(':memory:')
cursor = connection.cursor()

create = '''CREATE TABLE beatles (
'fname' text,
'lname' text,
'nickname' text
)'''
cursor.execute(create)

members = [
    ('John', 'Lennon', 'The Smart One'),
    ('Paul', 'McCartney', 'The Cute One'),
    ('George', 'Harrison', 'The Funny One'),
    ('Ringo', 'Starr', 'The Quiet One')
]

insert = 'INSERT INTO beatles VALUES (?,?,?)'

cursor.executemany(insert, members)

select = 'SELECT * FROM beatles'
cursor.execute(select)

results = cursor.fetchall()
cursor.close()
connection.close()

results